<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated ontouml -->
      <package
            uri="http://www.inf.unibz.it/ontouml/xtext/xcore"
            class="it.unibz.inf.ontouml.xtext.xcore.XcorePackage"
            genModel="model/ontouml.xcore"/>
   </extension>

</plugin>
